#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <4>;
        map = <
            /* ROW 0 (SW000, SW001, SW010, SW011, SW020, SW021) */
            RC(0,0) RC(4,0) RC(0,1) RC(4,1) RC(0,2) RC(4,2)
            /* ROW 1 (SW100, SW101, SW110, SW111, SW120, SW121) */
            RC(1,0) RC(5,0) RC(1,1) RC(5,1) RC(1,2) RC(5,2)
            /* ROW 2 (SW200, SW201, SW210, SW211, SW220, SW221) */
            RC(2,0) RC(6,0) RC(2,1) RC(6,1) RC(2,2) RC(6,2)
            /* ROW 3 (SW300, SW301, SW310, SW311, SW320, SW321) */
            RC(3,0) RC(7,0) RC(3,1) RC(7,1) RC(3,2) RC(7,2)
        >;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-composite";
        rows = <8>;
        columns = <3>;

        matrix_a {
            kscan = <&kscan_a>;
        };
        matrix_b {
            kscan = <&kscan_b>;
            row-offset = <4>; // kscan_b の結果は ROW 4~7 にマッピングされる
        };
    };

    /* 順方向：ROW から COL へ流す（SW000, SW100 などの上側のボタン用） */
    kscan_a: kscan_a {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        wakeup-source;
        row-gpios
            = <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW0
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW1
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW2
            , <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW3
            ;
        col-gpios
            = <&xiao_d 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL0
            , <&xiao_d 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL1 (D8)
            , <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL2 (D10)
            ;
    };

    /* 逆方向：COL から ROW へ流す（SW001, SW101 などの下側のボタン用） */
    kscan_b: kscan_b {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        // こちらはCOLを行（出力を出す側）として定義します
        row-gpios
            = <&xiao_d 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL0
            , <&xiao_d 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL1
            , <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL2
            ;
        col-gpios
            = <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW0
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW1
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW2
            , <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW3
            ;
    };
};